{% extends 'client/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Welcome section -->
    <div class="row home-welcome">
        <div class="col">
            <h1 class="text-center mb-4 welcome-title">Welcome to Failaka</h1>
        </div>
    </div>
    
    <!-- Data table section -->
    <div class="row home-table">
        <div class="col">
            <table 
                id="table"
                class="table table-bordered table-hover table-striped"
                data-toggle="table"
                data-search="true"
                data-pagination="true"
                data-show-columns="true"
                data-show-export="true">
                <thead class="table-dark">
                    <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                        <th data-field="description">Description</th>
                        <th data-field="site" data-sortable="true">Site</th>
                        <th data-field="subsite" data-sortable="true">Subsite</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <a href="{% url 'item_detail' item.uuid %}">
                                {{ item.name }}
                            </a>
                        </td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a href="{% url 'site_detail' item.site %}">
                                {{ item.site_name }}
                            </a>
                        </td>
                        <td>{{ item.subsite.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}