{% extends 'client/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Items list</h1>
<ul>
    {% for item in items %}
        <li>
            <strong>Nom :</strong> {{ item.name }}<br>
            <strong>Description :</strong> {{ item.description }}<br>
            <strong>Type :</strong> {{ item.type }}<br>
            <strong>Matériau :</strong> {{ item.material }}<br>
            <strong>Localisation actuelle :</strong> {{ item.current_location }}<br>
            <strong>Références :</strong> {{ item.references }}<br>
            <strong>Auteur :</strong> {{ item.author_name }}<br>
            <strong>Site :</strong> {{ item.site_name }}<br>
            <strong>Famille :</strong> {{ item.family }}<br>
            <strong>Date :</strong> {{ item.item_date }}
        </li>
        <hr>
    {% empty %}
        <li>No items found.</li>
    {% endfor %}
</ul>
{% endblock %}